

.service {
    
    margin-top: 100px;
}

.service-item {
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 10px;
    font-size: 20px;
}


.service-item p {
    font-weight: lighter; 
    text-align: justify; 
    margin-top: 25px;
    font-size: 16px;
    color: #929292;
}



.service-item-header {
    margin-left: -10px; 
    padding: 16px 20px 20px; 
    font-weight: bold;
    display: inline-block;
    color: #fff;
}