
.buygg {
    padding: 2%;
    max-height: 220px;
}

.buygg-bg {
    background-color: #fff;
    padding: 2%;
}


.adr {
    display: block;
    padding: 2%;
    max-height: 220px;
}

.d-flex > p {
    color: #fff;
}

.link {
    color: #ffb957;
}