/* ------ team ------ */
.team {
    background: url('../images/background.png') ; 
    font-family: 'Press Start 2P', cursive;
    min-height:590px;
    color:#fff;

}
.line-header {
    margin-top:100px;
    margin-bottom:80px;
}

.member-thumb:hover .thumb-overlay {
    transition: all 0.3s ease-in-out 0s;
    visibility: visible;
    opacity: 1;
}

.member-thumb {
    position: relative;
    overflow: hidden;
}

.member-thumb .thumb-overlay {
    background-color: rgba(220, 157, 102, 0.8);
    position: absolute;
    visibility: hidden;
    padding-top: 35%;
    padding-left: 25%;
    height: 100%;
    width: 100%;
    opacity: 0;
    right: 0;
    top: 0;
}

.thumb-overlay a {
    float:left;
    margin-right: 5px;
}



.team-inner {
    margin-top:10px;
}

.team-inner-header {
    font-family: 'Press Start 2P', cursive;
    font-weight:600;
    font-size:16px;
}

.team-inner-subtext {
    font-weight:normal;
    font-size:12px;
}

.row_team {
    margin-left:-50px;
    margin-top:70px;
}

.row_team li {
    list-style: none;
}


.line-header span {
    font-size: 18px; 
    float :left; 
    margin-top: 10px;
}

.team_box  div {
    text-align: center; 
    padding-top: 100px;
}


@media (min-width:991px) and (max-width: 1200px) {
    .team_hr {
       width: 37%; 
   }
}

@media (min-width:683px) and ( max-width: 991px) {
    .team_hr {
       width: 33%;
   }
}

@media (min-width:585px) and ( max-width: 683px) {
       .member-thumb .thumb-overlay {
           padding-left: 25%;

       }
    .team_hr {
       width: 30%;
   }
}

@media (min-width:536px) and ( max-width: 585px) {
    .team_hr {
       width: 28%;
   }
}

@media  (min-width:410px) and  ( max-width: 536px) {
    .team_hr {
       width: 21%;
   }
}

@media  ( max-width: 410px) {
    .team_hr {
       width: 11%;
   }
}
